<!DOCTYPE html>
<html lang="{{ with .Site.LanguageCode }}{{ . }}{{ else }}en-US{{ end }}">
{{- partial "head.html" . -}}

<body id="top" data-spy="scroll" data-target="#navbar-spy" class="position-relative" style="background-color: #FAFAFA;overflow-x: hidden!important;">
	{{ if .IsHome }}
		<picture>
			<source media="(max-width: 768px)" srcset="/images/bg/bg-sm.png">
			<img src="/images/bg/bg.png" alt="" class="banner-bg">
		</picture>
		<div class="d-sm-block d-none" id="bg-pan" style="position: absolute;width: 100%;z-index: 0;"></div>
		<div class="d-sm-none d-block" id="bg-pan-phone" style="position: absolute;width: 100%;z-index: 0;"></div>
	{{ end }}
	{{ if not .IsHome }}
		<picture>
			<source media="(max-width: 768px)" srcset="/images/bg/faq-bg.png">
			<img src="/images/bg/faq-bg.png" alt="" class="faq-banner-bg">
		</picture>
	{{ end }}
	{{- partial "preloader.html" . -}}
	{{- partial "header.html" . -}}
	{{ if not .IsHome }}
	{{ partial "page-header.html" . }}
	{{ end }}
	{{- block "main" . }}{{- end }}
	{{- partial "footer.html" . -}}

	<div class="cookies-tips" id="model-cookies-tips">
		<div class="cookies-tips-content">
			<div class="cookies-tips-content-icon">
				<img src="/images/icons/cookies.png" style="width: 32px; height: 32px;" alt="">
			</div>
			<div class="cookies-tips-content-text">
				We use cookies to collect anonymous site visitation data to improve the performance of our website. For more info read our <a href="/privacy">Privacy Notice</a>
			</div>
			<div class="cookies-tips-content-btn">
				<div class="cookies-tips-content-btn-allow" id="cookies-tips-btn-allow">
					Allow
				</div>
				<div class="cookies-tips-content-btn-decline" id="cookies-tips-btn-decline">
					Decline
				</div>
			</div>
		</div>
	</div>

</body>

</html>
